@model TurneroIgle.Models.Turno

@{
    ViewBag.Title = "Baja";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2>Dar de baja un turno:</h2>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-6 control-label">
                        Dni
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="Dni" id="txtDni" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label">
                        Fecha
                    </label>
                    <div class="col-sm-6">
                        @Html.DropDownList("IdFecha", items, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group text-right">
                    <div class="col-xs-12">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model is null)
{
    <p>@ViewBag.Mensaje</p>
}
else
{<div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Dni)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Telefono)
                    </td>
                    <td>
                        <a href="@Url.Action("EliminarTurno","Acciones", new {@idTurno = Model.IdTurno })" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

